@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ITCAvantGardeStd-Bold";
  src: url("/fonts/ITCAvantGardeStd-Bold.otf");
}

@font-face {
  font-family: "TCAvantGardeStd-XLt";
  src: url("/fonts/ITCAvantGardeStd-XLt.otf");
}

@font-face {
  font-family: "ITCAvantGardeStd-Bk";
  src: url("/fonts/ITCAvantGardeStd-Bk.otf");
}

/* Hide scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.text-brand {
  color: var(--brand-color);
}

.leaflet-interactive {
  fill: var(--brand-color);
  stroke: var(--brand-color)
}

.text-gray-400  {
  color: var(--brand-color);
}

.active-svg svg, .active-svg, .svg-inline--fa {
  fill: var(--brand-color); /* Use the CSS variable in your SVG styles */
}

.bg-brand {
  background-color: var(--brand-color);
}

.bg-brand-faded {
  background-color: var(--brand-color-bg);
}

.st0 {
  fill: var(--brand-color);
}

.faded-svg {
  opacity: 0.5;
}

.bg-brand-faded svg {
  opacity: 1;
}


/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.leaflet-pane, .leaflet-control, .leaflet-top, .leaflet-bottom {
  z-index: 40!important;
}

.shadow-custom {
  box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
}

.react-tel-input input:focus {
  box-shadow: inset 0 0 0 calc(1px + var(--tw-ring-offset-width)) #b11f23 !important;
}
